.container{
  width:520px;
  height:auto;
  padding:20px;
  line-height:1.4em;
  margin:0 auto 40px;
  text-align: center;
  background:white;
  box-shadow:0px 2px 6px rgba(0,0,0,0.2);
}
.container header{padding:0px;}
.container  header h1{text-align: center}
.container header input{
  width:466px;
  height:48px;padding:6px;
  border:1px solid #999;
  font-size:24px;
  line-height:1.4em;
  text-align:left;
}
.container section{
  width:466px;
  padding:0px;
  position: relative;
}
.container section>input{position: absolute;left:20px;top:-10px;}
.container section .selectAll{position: absolute;left: 60px;top:-15px;font-size:14px;}
.container section ul>.done label{
  text-decoration: line-through;
}
.container section ul{list-style: none;padding: 20px;}
.container section ul li{position: relative;margin-bottom: 10px;}
.container section li .view{
  position:relative;
  left:0px;
  text-align:left;
}
.container section li .view input{margin-right:20px;}
.container section ul li .destroy{
  font-size:16px;
  position:absolute;
  right:0px;
  top:2px;
  display:block;
  width:20px;height:20px;border-radius:10px;
  color:white;
  background-color:#ccc;
  text-align: center;
  line-height:1em;
  text-decoration: none;
  display: none;
}
.container section ul li:hover .destroy{display: block;}
.container footer{
  margin:0 -20px -20px -20px;
  overflow: hidden;
  background:#f4fce8;
  border-top:1px solid #ededed;
  padding: 0 20px;
  line-height: 27px;
  border-radius:0 0 5px 5px;
}
.container #clear-completed{
  float:right;
  line-height: 20px;
  text-decoration: none;
  background:rgba(0,0,0,0.1);
  color:#555;
  font-size:11px;
  margin-top:8px;
  margin-bottom:8px;
  padding:0 10px 1px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: rgba(0,0,0,0.2) 0 -1px 0 0;
}
.container .todo-count{float:left;}
.container div b{font-weight: bold;}
